.dashboard__container{
   padding: 20px 80px;
    .section{
        display: flex;
        justify-content:center;
    }
    .section-item{
        width:40%;

        .total-income__container{
            margin-bottom: 30px;
        }
    }
    .section-item:first-child{
        margin-right:30px;
    }
    .section:first-child{
        margin-bottom:30px;
    }
}